.container{
    width:100%;
    min-height: 100%;
    border: black solid 1px;
    display: grid;
    width:80%;
    margin: auto;
    padding:10px;
    row-gap: 20px;
    background: rgb(155,244,255);
    background: linear-gradient(90deg, rgba(155,244,255,1) 0%, rgba(187,227,227,1) 0%, rgba(150,237,255,1) 100%);
    
    border-radius: 10px;
    margin-bottom: 20px;
    }

    @media only screen and (max-width: 625px) {
        .container {
           overflow: visible;
        }}

