@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container{
    /* height:500px; */
    display: grid;
    grid-template-areas:
    'photo photo ingredients'
    'photo photo ingredients'
    'photo photo ingredients'
    'instructions instructions instructions';
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100%;
    
    
}

.ingredients{grid-area:ingredients;
            padding: 10px;}
.instructions{grid-area:instructions;
            padding:10px;}
.photo{grid-area:photo;}

.container > div {
    border:solid black 1px;
    margin:5px;
}

.images{ 
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin:10px;}

        @media only screen and (max-width: 720px) {
            .container div {
                width: 70%;
            }
            .images {
              border-radius: 50%;
              width:100%;
              /* transform: translateX(-50px) */
            }
            .container > .images {
                width:200px;
                margin:50px 10px 0px 0px;
                transform: translateX(-90px);

            }}

            @media only screen and (max-width: 625px) {
                .container div {
                   margin-bottom: 10px;
                   display: flex; /*added*/
                   flex-direction: column; /*added*/
                }
                .container>div:nth-child(4){
                    transform: translatex(-90px);
                    border: none;
                }
                .rule{
                    color: transparent;
                }
               
            }

            .rule{
                width:100%;
                border: solid 2px;}
               
        
          

