.div{
    display: flex;
    width:80%;
    margin: auto;
    justify-content: space-around;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 10%;
}

.div > div > ul > li { list-style: none;}

@media only screen and (max-width: 720px) {
    .div {
        flex-direction: column;
        width: 80%;
        float:center;
        background-color: transparent;
        border: none;
        justify-content: right;
        
        
   
    }
    .div>*{text-align: center;
    width:100px;
    margin-left: auto;
    /* background-color: aliceblue; */
    
;}

    .div1>* {
       /* background-color: paleturquoise; */
       background: rgb(155,244,255);
background: linear-gradient(90deg, rgba(155,244,255,1) 0%, rgba(187,227,227,1) 0%, rgba(150,237,255,1) 100%);
    }
  }
