.div{
    border: black solid 1px;
    display: flex;
    width:80%;
    margin: auto;
    justify-content: space-around;
    padding:10px;
    margin-bottom: 20px;
    background-color: rgb(199, 225, 247);
    border-radius: 10%;
}

.div > div > ul > li { list-style: none;}

@media only screen and (max-width: 720px) {
    .div {
        flex-direction: column;
    }
  }
